.home_page_main {
    display: flex;
    width: 100vw;
    background-color: #0f101c;
    height: 90vh;
}

.home_page_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 100px;
    width: 50%;
}

.home_page_right {
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 50%;
}

.home_buttons_parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 74px;
}

.home_button {
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    overflow: visible;
    border-color: #FF4E50;
    transition: 0.3s;
    color: #FFFFFF;
}

.home_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
    border-color: #FF4E50;
}

.home_button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    cursor: pointer;
    border-color: #E30022;
    color: #FF4E50;
    transition: 0.3s;
}

.home_button:hover::before {
    transform: scaleX(1);
    transform-origin: bottom right;
    border-color: #FF4E50;
    transition: transform 0.3s ease;
}



.home_page_name {
    font-family: Raleway-ExtraBold;
    color: #FFFFFF;
    font-size: 5rem;
}

.home_page_description {
    font-family: monospace;
    color: #FFFFFF;
    font-size: 1.2rem;
}

.contact_me_button {
    margin-top: 40px;
    border: none;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 50px;
    text-align: center;
    font-family: 'Raleway-Bold', sans-serif;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #E30022, #FF4E50);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact_me_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E30022;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
    border-color: #FFFFFF;
}

.contact_me_button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.contact_me_button:hover::before {
    transform: scaleX(1);
    transform-origin: bottom right;
    border-color: #FFFFFF;
    transition: transform 0.3s ease;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.contact_me_button:hover {
    animation: pulse 3s infinite alternate;
}


/* Layer  */

.profile_image {
    width: 500px;
    height: 500px;

}




.profile_bg_layer_1 {
    width: 500px;
    height: 500px;
    overflow: hidden;
    background-color: #3e1e24;
}

.profile_bg_layer_2 {
    width: 450px;
    height: 450px;
    background-color: #632a2a;
}

.profile_bg_layer_3 {
    width: 350px;
    height: 350px;
    background-color: #81332f;
}

.profile_bg_layer_4 {
    width: 300px;
    height: 300px;
    background-color: #993a33;
}



@keyframes scaleInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.005);
    }

    100% {
        transform: scale(1);
    }
}

.profile_bg_layer_1,
.profile_bg_layer_2,
.profile_bg_layer_3,
.profile_bg_layer_4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: scaleInOut 3s infinite alternate;
    /* Adjust the duration and iteration as needed */
}