.where_i_worked {
    background-color: var(--primary-color);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.where_i_worked_right {
    width: 600px;
    margin-left: 250px;
    padding: 30px;
}

.where_i_worked_left {
    width: 700px;
    height: 440px;
    margin-right: 250px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--secondary-color-secondary-light);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    padding-right: 30px;
}



.where_i_worked_right_buttons_parent {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.where_i_worked_right_button {
    width: auto;
    background-color: var(--primary-color-second);
    padding: 30px;
    border-radius: 12px;
    transition: 0.3s;
    border: 1px solid var(--secondary-color-secondary-light);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-color-primary);
}

.where_i_worked_right_button:hover {
    width: auto;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 30px;
    border-radius: 12px;
    transition: 0.3s;
}

.where_i_work_company_name {
    font-family: Raleway-Bold;
}

.where_i_work_company_duration {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 0.9rem;
}




.where_i_worked_left_company_name {
    color: var(--text-color-primary);
    font-family: Raleway-ExtraBold;
    font-size: 2.5rem;
}

.where_i_worked_left_company_duration {
    color: var(--text-color-primary);
    font-family: RobotoMono-Bold, Sans-serif;
    font-size: 1rem;
    margin-top: 10px;
}

.where_i_worked_left_company_duration_in_description {
    color: var(--text-color-primary);
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 0.9rem;
    margin-top: 5px;
}

.key_work_parent {
    margin-top: 20px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 14px;
}

.key_work_data {
    font-family: monospace;
    color: var(--primary-color);
    font-size: 1rem;
    background-color: var(--secondary-color);
    padding: 4px 20px;
    border-radius: 50px;
    white-space: nowrap;
}


.where_i_worked_left {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

}

.where_i_worked_left.fade-out {
    opacity: 0;
}




@media (max-width:1300px) {


    .where_i_worked_right_buttons_parent {
        gap: 10px;
    }

    .where_i_worked {
        flex-direction: column;
    }

    .where_i_worked_left {
        width: 75%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .where_i_worked_right {
        width: 90%;
        margin-right: 0;
        margin-left: 0;
    }

    .where_i_worked_left_company_duration {
        font-size: 1rem;
    }
}

/* new code */
/* 
.where_i_worked {
    background-color: var(--primary-color);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.where_i_worked_right {}

.where_i_worked_right_profession_experience {
    color: var(--text-color-primary);
    font-size: 6rem;
    font-family: Raleway-Bold;
    text-align: center;
    margin-bottom: 10px;
}

.where_i_worked_right_buttons_parent {
    width: 800px;
}

@media (max-width:800px) {
    .where_i_worked_right_buttons_parent {
        width: 90vw;
    }

    .where_i_worked_right_profession_experience {
        font-size: 3rem;
    }

}

.new_where_i_work_company_button {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    outline: 1px solid var(--secondary-color);
    padding: 8px 50px;
    border-radius: 2px;
}

.new_where_i_work_company_name {
    color: var(--text-color-primary);
}


.new_where_i_work_company_duration {
    color: var(--text-color-primary);
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    font-size: 0.8rem;
} */