.Illustrator-class {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -5;
    background-color: black;
}

.Illustrator-image {
    width: 100%;
    z-index: 0;
}

.Illustrator-image-static {
    width: 100%;
    z-index: -5;
    position: fixed;
}

.astronaut-image {
    width: 20%;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 10%;
}
.rocket-image{
    width: 20%;
    position: fixed;
    z-index: 1;
    left: -15%;
    top: 7%;  
}
.child-with-balloon-image{
    width: 20%;
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 7%;   
}
@media (max-width: 1200px) {
    .Illustrator-image {
        height: 200%;
        width: auto;
        z-index: 0;
    }

    .Illustrator-image-static {
        height: 200%;
        width: auto;
        z-index: -5;
        position: fixed;
    }
}